<div ng-init="getLocation()" ng-controller="barCtrl">

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <h2 id="nav-head" class="navbar-text">Pocket Tap</h2>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-click="homeEsc()">Home</li>
                    <li ng-click="beerLocation()">My Beers</li>
                    <li ng-click="logout()">Logout</li>

                </ul>
            </div>
        </div>
    </nav>




\
    <div class="col-md-12">

        <h1>Bars Near You</h1>

        <div class="dataBar" ng-repeat="key in locations">
            <div class="data-info"><b>{{key.venue.name}}</b></div>
            <div class="data-info">{{key.venue.location.address}}</div>
            <p class="data-info">{{key.venue.location.city}}, {{key.venue.location.state}}</p>
            <hr>
        </div>
    </div>


</div>