<div ng-init="getBeerCheck()" ng-controller="checkInfo">

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <h2 id="nav-head" class="navbar-text">Pocket Tap</h2>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><button id="logout" class="btn btn-danger navbar-text" ng-click="logout()">Logout</button></li>
                </ul>
            </div>
        </div>
    </nav>





    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <h2 class="navbar-text">Pocket Tap</h2>
        <button id="logout" class="btn btn-danger navbar-text" ng-click="logout()">Logout</button>
        <button class="btn btn-danger navbar-text" ng-click="bar()">Bars Near You</button>
        <button class="btn btn-danger navbar-text" ng-click="homeEsc()">Home</button>
    </nav>

    <div ng-repeat="key in finalMeta">
            <h2>{{key.bname}}</h2>
            <p>Alcohol: {{key.abv}}%</p>
            <p>Style: {{key.style}}</p>
            <p>Description: {{key.desc}}</p>
            <p>Location: {{key.location}}</p>
            <p>Rating: {{key.rating}}</p>


    </div>

</div>