<!DOCTYPE html>

   <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
                <h2 class="navbar-text">Pocket Tap</h2>
                <button id="logout" class="btn btn-danger navbar-text" ng-click="logout()">Logout</button>
    </nav>
   <div id="home-control" ng-controller="homepageCtrl">
    
    <div class="col-md-6">
        <h1 class="user-header">Hello {{userObj.username}}</h1>
        <h2 class="user-cont">{{userObj.username}}'s recent checked in beers:</h2>
        <div ng-repeat="beer in beerlist">
            <p>beer.name</p>
        </div>
    </div>

    <div class="col-md-6">

       <button ng-click="getLocation()">Bars Near You</button>

        <div class="dataBar" ng-repeat="key in locations">
            <div class="data-info"><b>{{key.name}}</b></div>
                <div class="data-info">{{key.location.address}}</div>
                <p class="data-info">{{key.location.city}}, {{key.location.state}}</p>
            <hr>
        </div>
    </div>


    <h1>Beer Search</h1>
    <div class="col-lg-12">
        <label for="search">Search</label>
        <input id="search" class="form-control" ng-model="search.term">
        <button class="btn btn-primary" ng-click="search()">Search</button>
        <!--            <p>{{beers}}</p>-->
    </div>
    <div>
        <div class="beers col-lg-6 col-lg-offset-3" ng-repeat="items in beers">
            <h2>{{items.beer.beer_name}}</h2>
            <img ng-src="{{items.beer.beer_label}}">
            <p>STYLE - {{items.beer.beer_style}}</p>
            <p>ABV - {{items.beer.beer_abv}}</p>
            <p>INFO - {{items.beer.beer_description}}</p>
            <button class="btn btn-primary" ng-click="checkin(items.beer.beer_name,
                items.beer.beer_label,
                items.beer.beer_style,
                items.beer.beer_abv,
                items.beer.beer_description)">CheckIn
            </button>
            <button class="btn btn-primary" ng-click="wishlist()">Add To WishList</button>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <h1>Search Trending Beers</h1>
    <div class="col-lg-12">
        <button class="btn btn-primary" ng-click="trending()">Search Them Now! Don't Miss Out!</button>
    </div>
    <div>
        <div class="beers col-lg-6 col-lg-offset-3" ng-repeat="items in trendingBeers">
            <h2>{{items.beer.beer_name}}</h2>
            <img ng-src="{{items.beer.beer_label}}">
            <p>STYLE - {{items.beer.beer_style}}</p>
            <p>ABV - {{items.beer.beer_abv}}</p>
            <p>INFO - {{items.beer.beer_description}}</p>
        </div>
    </div>

</div>