<!DOCTYPE html>
<div ng-controller="homepageCtrl">
    <div class="nav">
        <nav id="nav2">
            <ul id="authNave">
                <li>Pocket Tap</li>
                <li><button id="logout" class="btn btn-danger" ng-click="logout()">Logout</button></li>
            </ul>
        </nav>
    </div>

    <div class="col-md-6">
        <h1>Hello {{userObj.username}}</h1>
        <h2>{{userObj.username}}'s recent checked in beers:</h2>
        <div ng-repeat="beer in beerlist">
            <p>beer.name</p>
        </div>
    </div>

    <div class="col-md-6">

       <button ng-click="getLocation()">Bars Near You</button>

        <div ng-repeat="key in objArr">
            <hr><div><b>{{key[0].name}}</b></div>
                <div>{{key[0].location.address}}</div>
                <p>{{key[0].location.city}}, {{key[0].location.state}}</p><hr>

            <div><b>{{key[1].name}}</b></div>
                <div>{{key[1].location.address}}</div>
                <p>{{key[1].location.city}}, {{key[1].location.state}}</p><hr>

            <div><b>{{key[2].name}}</b></div>
                <div>{{key[2].location.address}}</div>
                <p>{{key[2].location.city}}, {{key[2].location.state}}</p><hr>

            <div><b>{{key[3].name}}</b></div>
                <div>{{key[3].location.address}}</div>
                <p>{{key[3].location.city}}, {{key[3].location.state}}</p><hr>

            <div><b>{{key[4].name}}</b></div>
                <div>{{key[4].location.address}}</div>
                <p>{{key[4].location.city}}, {{key[4].location.state}}</p><hr>
            </div>
        </div>
    </div>
</div>