<div id="home-control"  ng-init="checkedData()" ng-controller="myBeersCtrl">

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <h2 class="navbar-text">Pocket Tap</h2>
        <button id="logout" class="btn btn-danger navbar-text" ng-click="logout()">Logout</button>
        <button class="btn btn-danger" ng-click="bar()">Bars Near You</button>
        <button class="btn btn-danger" ng-click="homeEsc()">Home</button>


    </nav>

    <div id="search-cont" class="col-lg-12">
        <label id="label-search" for="search">Search</label>
        <input placeholder="Enter Search..." id="search" class="form-control" ng-model="search.term">
        <a id="search-btn" href="#/searchResults/{{search.term}}"><img src="../img/search.png" alt="search"></a>
    </div>

    <div id="left-col" class="col-md-12">
        <h2>{{userObj.username}}'s Check Ins:</h2>

                <div ng-repeat="key in checked">
                    <button class="expand-beer-btn" ng-click="alcMeta = true"><b>{{key.bname}}</b></button><hr>


                <div ng-show="alcMeta">
                    <p class="del"><button ng-click="deleteChecked(key.bname)">Remove Beer</button></p>
                    <h4>Details:</h4>

                    <p><b>Alcohol: </b>{{key.abv}}%</p>
                    <p><b>Style: </b>{{key.style}}</p>
                    <p><b>Description: </b>{{key.desc}}</p>

                    <h4>Your Checkin Information:</h4>
                    <p><b>Location: </b>{{key.location}}</p>
                    <p><b>Rating: </b>{{key.rating}}</p><hr></div>
                </div>



    </div>


</div>