    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <h2 id="nav-head" class="navbar-text">Pocket Tap</h2>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-click="homeEsc()">Home</li>
                    <li ng-click="wishListDirect()">Wishlist</li>
                    <li ng-click="bar()">Bars</li>
                    <li ng-click="trendingDirect()">Trending</li>
                    <li ng-click="logout()">Logout</li>
                </ul>
            </div>
        </div>
    </nav>


<div id="home-control" class="container" ng-init="getLocation(); checkedData()" ng-controller="myBeersCtrl">

 <div class="mainPad">

    <div id="search-cont" class="col-lg-12">
        <label id="label-search" for="search">Search</label>
        <input placeholder="Enter Search..." id="search" class="form-control" ng-enter="entrrt()" ng-model="search.term">
        <a id="search-btn" href="#/searchResults/{{search.term}}"><img src="../img/search.png" alt="search"></a>
    </div>

    <br>
    <div id="lefting-wrap">
        <div class="tester col-md-12">
            <p class="pageName">My Saved Beers</p>
        </div>

    </div>


     <div ng-show="loading"><p class="pageName"><div class="spinner">
         <div class="rect1"></div>
         <div class="rect2"></div>
         <div class="rect3"></div>
         <div class="rect4"></div>
         <div class="rect5"></div>
     </div></p></div>

            <div class="myBeers col-lg-12" ng-repeat="key in checked">

                <div id="content-wrap">

                    <img class="beerImg" ng-src="{{key.blabel}}">


                    <button class="expand-beer-btn" ng-click="widgetExpanded = !widgetExpanded">{{key.bname}}</button>
                </div>






                <div id="slide1" ng-slide-down="widgetExpanded" lazy-render duration=".7">
                    <div class="col-lg-6" id="btn-cont">
                        <button class="btn btn-primary outline" ng-click="updateAgain = true">Re-Checkin</button>
                        <button class="btn btn-primary outline" ng-click="deleteChecked(key.bname)">Remove Beer</button>
                    </div>
                    <div class="col-lg-6" id="reform" ng-show="updateAgain" ng-init="usercheckin.location='No Location Added'">
                        <h2 class="details">Choose Location</h2>
                        <select id="loc1" ng-model="usercheckin.location">
                    <option value="select a location">Select a location</option>
                    <option ng-repeat="data in locations" value="{{data.venue.name}}">
                        {{data.venue.name}}
                    </option>
                </select>
                         <button id="update" class="btn btn-primary outline" ng-click="updateBeer(key.bname, usercheckin)">Submit</button>
                         
                    </div>

               <div id="info-cont">
                    <h2 class="details">Details:</h2>
                    <p class="beer-data"><b>Alcohol: </b>{{key.abv}}%</p>
                    <p class="beer-data"><b>Style: </b>{{key.style}}</p>
                    <p class="beer-data"><b>Description: </b>{{key.desc}}</p>
                    <h2 class="details">Your Checkin Information:</h2>
                    <span class="mycheckInfo"><b>Locations:</b></span><p ng-repeat="place in key.location" class="beer-data">{{place}}</p>
                    <span class="mycheckInfo"><b>Comment:</b></span><p class="beer-data">{{key.userinput}}</p>
                    <span class="mycheckInfo"><b>Rating:</b></span><p class="beer-data">{{key.rating}}/10</p>
                </div>


                </div>
            </div>
        </div>

</div>
</div>