<div id="home-control"  ng-init="checkedData()" ng-controller="myBeersCtrl">

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <h2 class="navbar-text">Pocket Tap</h2>
        <button id="logout" class="btn btn-danger navbar-text" ng-click="logout()">Logout</button>
        <button class="btn btn-danger" ng-click="bar()">Bars Near You</button>
        <button class="btn btn-danger" ng-click="homeEsc()">Home</button>


    </nav>

    <div class="col-lg-12">
        <label for="search">Search</label>
        <input id="search" class="form-control" ng-model="search.term">
        <a class="btn btn-primary" href="#/searchResults/{{search.term}}">Search</a>
        <!--            <p>{{beers}}</p>-->
    </div>


    <div id="left-col" class="col-md-12">
        <h2>{{userObj.username}}'s Check Ins</h2>

            <div class="col-sm-6 list">
                <div ng-repeat="key in checked">
                    <a href="#/checkInfo/{{key.bname}}">{{key.bname}}</a>
                    <!--<p ng-click="getBeerCheck(key.bname)" class="check">{{key.bname}}</p>-->
                </div>
            </div>
            
            <div class="col-sm-6 list">
                <div ng-repeat="key in checked">

                    <p class="del"><button ng-click="deleteChecked(key.bname)">X</button></p>
                </div>
            </div>  
    </div>
</div>