

<div class="container" id="home-control" ng-controller="resultsCtrl">

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <h2 id="nav-head" class="navbar-text">Pocket Tap</h2>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-click="homeEsc()">Home</li>
                    <li ng-click="bar()">Bars Near You</li>
                    <li ng-click="logout()">Logout</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="beers col-lg-6 col-lg-offset-3" id="search-beers" ng-repeat="items in Data">
        <img ng-src="{{items.beer.beer_label}}">
        <a href="#/resultInfo/{{searchTerm}}/{{$index}}" id="beer-header" class="search-info">{{items.beer.beer_name}}</a>


    </div>
</div>
