    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <h2 id="nav-head" class="navbar-text">Pocket Tap</h2>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-click="homeEsc()">Home</li>
                    <li ng-click="beerLocation()">My Beers</li>
                    <li ng-click="wishListDirect()">Wishlist</li>
                    <li ng-click="bar()">Bars</li>
                    <li ng-click="trendingDirect()">Trending</li>
                    <li ng-click="logout()">Logout</li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container" id="home-control" ng-controller="resultsCtrl">

<p>{{message}}</p>

<div id="result-cont">
    <div class="beers col-sm-12 col-lg-offset-3" id="search-beers" ng-repeat="items in Data">
        <div id="img-cont1">
            <img ng-src="{{items.beer.beer_label}}" alt="search-list">
        </div>

        <div id="term-cont">
            <a href="#/resultInfo/{{searchTerm}}/{{$index}}" id="beer-header" class="search-info">{{items.beer.beer_name}}</a>
            <p class="beer-style">{{items.beer.beer_style}}</p>
            <p class="beer-style">ABV: {{items.beer.beer_abv}}</p>
        </div>
    </div>

</div>

</div>
