<div ng-controller="AppCtrl" class="landingUp container">

    <div class="innercontainer">

       <div class="col-md-6">
        <div id="top-nav" class="col-md-12">
            <nav id="nav1">
                <ul class="nav-list">
                    <li id="header"><img class="mainlogo" src="../img/Logo-01.png"></li>
                </ul>
            </nav>
        </div>
        
                    <div id="info-div" class="col-md-12">

            <h3 id="banner">Become a beer master!</h3>
            <p>Create your own personal craft beer mastery log!</p>
            <p>Discover Craft Beer from around the world!</p>
            <p>Find local watering holes near you now!</p>
        </div>

        
        </div>

        <div class="col-md-6 bot-signup">
            


            <form ng-hide="signUp1">

                <h1 class="log-header">Login</h1>

                <label class="app-info" for="userAuth">Username</label>
                <input id="userAuth" type="text" class="form-control" ng-model="user.username">

                <label class="app-info" for="passAuth">Password</label>
                <input id="passAuth" type="password" class="form-control" ng-model="user.password">

                <button id="signIn" class="btn btn-primary outline btn-block" ng-click="login()">Sign In</button>

                <button id="register" ng-click="signUp1 = true">Click Here To Register</button>
            </form>


            <form ng-show="signUp1">

                <h1 class="log-header">Sign Up</h1>

                <label class="app-info" for="user">Username</label>
                <input id="user" type="text" class="form-control" ng-model="user.username">

                <label class="app-info" for="email">Email</label>
                <input id="email" type="email" class="form-control" ng-model="user.email">

                <label class="app-info" for="pass">Password</label>
                <input id="pass" type="password" class="form-control" ng-model="user.password">

                <label class="app-info" for="Cpass">Confirm Password</label>
                <input id="Cpass" type="password" class="form-control" ng-model="user.confirm">

                <button id="addc" class="btn btn-primary outline btn-block" ng-click="signUp()">Sign Up</button>

                <button id="register" ng-click="signUp1 = false">Click Here To Login</button>

            </form>
            <!-- *data flow 1* user click add contact sends to controller-->
        </div>
    </div>
</div>