<div class="container" id="home-control" ng-init="trending()" ng-controller="homepageCtrl">
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <h2 class="navbar-text">Pocket Tap</h2>
        <button id="logout" class="btn btn-danger navbar-text" ng-click="logout()">Logout</button>
        <button class="btn btn-danger navbar-text" ng-click="beerLocation()">My Beers</button>
        <button class="btn btn-danger navbar-text" ng-click="homeEsc()">Home</button>
    </nav>

    <h1 class="user-header">Trending Beers</h1>
    <div>
        <div class="beers col-lg-6 col-lg-offset-3" id="trend-beers" ng-repeat="items in trendingBeers">
            <h2>{{items.beer.beer_name}}</h2>
            <img ng-src="{{items.beer.beer_label}}">
            <p>STYLE - {{items.beer.beer_style}}</p>
            <p>ABV - {{items.beer.beer_abv}}</p>
            <p>INFO - {{items.beer.beer_description}}</p>
        </div>

     </div>

 </div>