<div ng-init="checkedData()" ng-controller="wishListCtrl">
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <h2 class="navbar-text">Pocket Tap</h2>
        <button id="logout" class="btn btn-danger navbar-text" ng-click="logout()">Logout</button>
        <button class="btn btn-danger" ng-click="beerLocation()">My Beers</button>
        <button class="btn btn-danger" ng-click="homeEsc()">Home</button>
    </nav>
    <div id="right-col" class="col-md-6">
        <h2>{{userObj.username}}'s Wish List</h2>
        <div class="col-sm-6 list">
            <div ng-repeat="key in wished">
                <a href="#/wishListInfo/{{key.bname}}">{{key.bname}}</a>
            </div>
        </div>
        <div class="col-sm-6 list">
            <div ng-repeat="key in wished">
                <p class="del">
                    <button ng-click="deleteWished(key.bname)">X</button>
                </p>
            </div>
        </div>
    </div>
</div>