<div ng-init="getBeerWish()" ng-controller="wishInfo">

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <h2 class="navbar-text">Pocket Tap</h2>
        <button id="logout" class="btn btn-danger navbar-text" ng-click="logout()">Logout</button>
        <button class="btn btn-danger navbar-text" ng-click="bar()">Bars Near You</button>
        <button class="btn btn-danger navbar-text" ng-click="homeEsc()">Home</button>
    </nav>


    <div ng-repeat="key in finalMeta">
        <h2>{{key.bname}}</h2>
        <p>Alcohol: {{key.abv}}%</p>
        <p>Style: {{key.style}}</p>
        <p>Description: {{key.desc}}</p>

    </div>

</div>