body{
    margin-top: 90px;
    background: url('/img/background.jpg') no-repeat fixed;

}

.form-control{
    margin-bottom:2%;
}

form {
    margin-bottom: 60px;
}

ul{
    list-style-type: none;
    padding: 2% 0;
    background: #000;
}

#addc{
    margin-top: 1.5%;
    width:30%
}

#signIn{
    margin-top: 1.5%;
    width:30%

}

#top-nav{
    background: #d63f3b;
}

nav{
    background: #d63f3b;

}

.nav-list{
    background: #d63f3b;

}

.container{
    color: #ffffff;
}

.app-info{
    font-family: 'Abel', sans-serif;
    font-size: 1em;
    color: #fff;
}

#info-div{
    margin-bottom: 10%;
}

.log-header{
    font-family: 'Abel', sans-serif;

}

#header{
    font-family: 'Erica One', cursive;
    font-size:3em;
}

#banner{
    margin-bottom: 10%;
}

#authNav li{
    display:inline;
}

ul li{
    font-size: 1.7em;
    text-align: center;
    color: #FFF;
}

#register{
    float: right;
    background: none;
    text-decoration: underline;
    border:none;
}

img {
    margin-bottom: 5px;
    max-height: 100px;
    max-width: 100px;
}

.beers {
    border: 1px solid black;
    margin-bottom: 60px;  
}


.appName {
    color: #f2f2f2;
}

.dataBar{
    background: #fff;
    padding: 5% 2%;
    font-size: 2em;
}
.user-cont{
    font-family: 'Abel', sans-serif;
    color: #fff;
}

.user-header{
    font-family: 'Abel', sans-serif;
    color: #fff;
}

.data-info{
    font-family: 'Abel', sans-serif;
    font-size: 1em;
}

#home-control{
    opacity: 0.9;
}

#search-beers{
    background: #fff;
    opacity: 0.9;
}

#trend-beers{
    background: #fff;
    opacity: 0.9;
}