body{
    margin-top: 90px;

    background: #222;
}

#search{
    width: 95%;
    float: left;
    clear: both;
    overflow: hidden;
}

#search-btn{
    margin-left: 0.8%;
}

img[alt="search"]{
    max-width: 100%;
    background: #fff;
    padding:0.7%;
    border-radius: 4px;
}

.icon-head{
    font-size: 1.3em;
    text-align: left;
    margin-left: 4%;
}

.img-cont{
    width:15%;
    float: left;
}

.tab-cont{
    width:80%;
    margin-left: 5%;
    float: left;
}

.del{
    float: right;
}

.expand-beer-btn{
    border: none;
    background: none;
    text-decoration: underline;
    font-size: 2em;
    text-align: center;
}

.expand-beer-btn:hover{
  opacity: 0.8;
}

.icon-text{
    margin-left: 4%;
    font-size: 0.6em;
    text-align: left;
}

#label-search{
    display: none;
}

@font-face {
    font-family: mainText;
    src: url(../fonts/White_Elephant.ttf);
}

.form-control{
    margin-bottom:2%;
}

form {
    margin-bottom: 60px;
}

ul{
    list-style-type: none;
    padding: 2% 0;
}

#addc{
    margin-top: 1.5%;
    width:30%
}

#signIn{
    margin-top: 1.5%;
    width:30%
}


.nav-list{
    background: #d63f3b;
}

.container{
    color: #ffffff;
    
}

.app-info{
    font-family: 'mainText', sans-serif;
    letter-spacing: 1px;
    font-size: 1.6em;
    color: #c43a36;
}

#info-div{
    margin-bottom: 10%;
}

.log-header{
    text-align: center;
    font-family: 'mainText', sans-serif;
    letter-spacing: 1px;
    color: rgb(201,182,123);
}

#header{
    font-family: 'Erica One', cursive;
    font-size:3em;
}

#banner{
    margin-bottom: 10%;
}

#authNav li{
    display:inline;
}

ul li{
    font-size: 1.7em;
    text-align: center;
}

#register{
    font-family: 'Andale Mono';
    float: right;
    background: none;
    text-decoration: underline;
    border:none;
}


.beers {
    border: 1px solid black;
    margin-bottom: 60px;  
}

.appName {
    color: #f2f2f2;
}

.dataBar{
    background: #fff;
    padding: 5% 2%;
    font-size: 2em;
}
.user-cont{
    font-family: 'Abel', sans-serif;
    color: #fff;
    text-align: center;
}

#nav-head{
    text-align: center;
}

.user-header{
    font-family: 'Abel', sans-serif;
    color: #fff;
    text-align: center;
}

.data-info{
    font-family: 'Abel', sans-serif;
    font-size: 1em;
}

#spin{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/spinner.gif') no-repeat center center;
}

#home-control{
    opacity: 0.9;
    margin-top: 10%;
}

#search-beers{
    background: #fff;
    opacity: 0.9;
}

#trend-beers{
    background: #fff;
    opacity: 0.9;
}

#left-col{
    background: #fff;
    opacity: 0.9;
}

#right-col{
    background: #fff;
    opacity: 0.9;
}
.check, .del {
     height: 25px;   
}

.cont-wrapper{
    max-width: 100%;
    clear:both;
    overflow: hidden;
}

#navrBtn li{
    color:#000;
    padding:5% 0;
    background: #f6fdff;
    margin-top:1%;
    opacity: 0.9;
    font-size:2em;
    clear:both;
}

#navrBtn li:hover{
    opacity: 0.7;
}

#home-head{
    font-size:2em;
    text-align: center;
}


img[alt="barIcon"]{
    max-width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    margin-left:50%;
    display: block;

}

img[alt="beerIcon"]{
    max-width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    margin-left:50%;
    display: block;
}

img[alt="wistListIcon"]{
    display: block;
    max-width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    margin-left:50%;
}

img[alt="trendListIcon"]{
    max-width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    margin-left:50%;
    display: block;
}

img[alt="banner"]{
    max-width: 100%;
    height: auto;


}

.search-info{
    color:#000;
}

#beer-header{
    font-size: 3em;
    text-align: center;
}

.rating{
    color: #a9a9a9 ;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: #21568b ;
}

textarea, select {
     color: black;
}

h3 {
     color: black;
}

.mainlogo {
    max-width: 100%;
    max-height: 100%;
}

#info-div {
    height: 300px;
}

.landingUp {
     margin-top: -90px;   
}

button {
    font-family: 'mainText', sans-serif;
    letter-spacing: 1px;
}

/*------------------*/
 
.btn {
    border: 0 none;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn.active, .btn:active {
    background-color: #fff;
}

/*-----------*/

.btn.outline {
    background: none;
    font-size: 20px;
}

.btn-primary.outline {
    border: 2px solid #fff;
    color: #c43a36;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #f24540;
    border-color: #fff;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #fff;
    background: #fff;
    color: #7e2522;
    box-shadow: none;
}

@media (max-width: 992px){
    #search{
        width: 94%;
    }

    img[alt="search"]{
        max-width: 100%;
        background: #fff;
        padding:1%;
        border-radius: 4px;
    }

    .icon-head{
        font-size: 1em;

    }

    .img-cont{
        margin-top: 3%;
    }

    .icon-text{
        font-size: 0.5em;
    }

}

@media (max-width: 586px){
    #search{
        width: 90%;
    }

    #search-cont{
        margin-bottom: 3%;
    }

    .icon-head{
        margin-left: 5%;

    }

    .icon-text{
        font-size: 0.5em;
    }

    .expand-beer-btn{
        font-size: 1.5em;
    }

    img[alt="search"]{
        max-width: 100%;
        background: #fff;
        padding:1%;
        border-radius: 4px;
    }


}

@media (max-width: 405px){
    #search{
        width: 88%;
    }

    #search-cont{
        margin-bottom: 3%;
    }

    .icon-head{
        font-size: 0.8em;

    }

    .icon-text{
        font-size: 0.4em;

    }

    .img-cont{
        margin-top: 7%;
    }

    img[alt="search"]{
        max-width: 100%;
        background: #fff;
        padding:2%;
        border-radius: 4px;
    }
}
